{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1>KEYWORD: {{ keyword }}</h1>
	<h2>Google</h2>
    {% for result in gg_search.sites %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">{{ result.title }}</h3>
            </div>
            <div class="panel-body">
                {{ result.link }}
            </div>
        </div>
    {% endfor %}
	<h2>Facebook</h2>
    {% for result in fb_search %}
        {% if "from" in result %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">{{ result.from.name }}</h3>
            </div>
            <div class="panel-body">{{ result.message }}</div>
            <div class="panel-footer"><a href="{{ result.link }}">{{ result.link }}</a></div>
        </div>
        {% endif %}
    {% endfor %}
	<h2>Instagram</h2>
    {% for result in ig_search["items"] %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">{{ result.user.full_name }}</h3>
            </div>
            <div class="panel-body">
                {% if "image_versions2" in result %}
                <img style="width:300px" src="{{ result.image_versions2.candidates[0].url }}"></img>
                <p>{{ result.text }}</p>
                {% else %}
                <p>It should be a video</p>
                {% endif %}
            </div>
            <div class="panel-footer">
                <div>location: {{ result["location"].name if "location" in result else "Can't provide"}}</div>
                <div>like counts: {{ result.like_count }}</div>
            </div>
        </div>
    {% endfor %}
        <h2>Google Image</h2>
    {% for result in img_search["images"] %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">{{ result.title }}</h3>
            </div>
            <div class="panel-body">
                <img style="width:300px" src="{{ result.link }}"></img>
            </div>
            <div class="panel-footer">
                <div>Context link: <a href="{{ result.image.contextLink }}">{{ result.image.contextLink }}</a></div>
            </div>
        </div>
    {% endfor %}
        <h2>Youtube</h2>
    {% for result in video_search["videos"] %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">{{ result["items"][0].snippet.channelTitle }}</h3>
            </div>
            <div class="panel-body">
                <img style="width:300px" src="{{ result['items'][0].snippet.thumbnails.high.url }}"></img>
            </div>
            <div class="panel-footer">
                <div>Description: {{ result["items"][0].snippet.description }}</div>
            </div>
        </div>
    {% endfor %}
{% endblock %}
